.menu_button {
    float: right;
}

.menu_button a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu_button a:hover {
    background-color: lightblue;
}

.menu_button a.active {
    background-color: #4CAF50;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke
}

.menu_logo {
    float: left;
}

.username {
    color: black;
}