.item-container {
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-left: 20%;
  }

  .item0 {
    color: blue;
    grid-column: 1;
  }

  .item1 {
    color: green;
    grid-column: 2;
  }
  
  .item2 {
    color: purple;
    grid-column: 3;
  }

  .item {
    border: 3px solid black;
  }

.item-image {
  align-content: center;
}

.sidenav {
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 50%; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
